/* Neon-Velocity Firefox Theme */

:root {
  --toolbar-bgcolor: #0A0010 !important;
  --toolbar-color: #E0E0FF !important;
  --lwt-accent-color: #0A0010 !important;
  --lwt-text-color: #E0E0FF !important;
  --lwt-selected-tab-background-color: #BF00FF !important;
  --tab-line-color: #00FFFF !important;
}

#nav-bar {
  background-color: var(--toolbar-bgcolor) !important;
}

.tab-background[selected="true"] {
  background-color: var(--lwt-selected-tab-background-color) !important;
}
